USE [master]
GO
/****** Object:  Database [BikeRental]    Script Date: 18-04-2026 19:39:34 ******/
CREATE DATABASE [BikeRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BikeRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BikeRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BikeRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BikeRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BikeRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BikeRental]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 18-04-2026 19:39:34 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SQLArcExtensionUserRole]    Script Date: 18-04-2026 19:39:34 ******/
CREATE ROLE [SQLArcExtensionUserRole]
GO
ALTER ROLE [SQLArcExtensionUserRole] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 18-04-2026 19:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bike](
	[BikeId] [int] IDENTITY(1,1) NOT NULL,
	[BikeName] [varchar](50) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[RentalAmount] [int] NOT NULL,
	[ImageUrl] [varchar](255) NULL,
	[BikeCount] [int] NULL,
	[BikeDetails] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bike] PRIMARY KEY CLUSTERED 
(
	[BikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 18-04-2026 19:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustId] [int] IDENTITY(1,1) NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[CustPhNo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 18-04-2026 19:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[RentalId] [int] IDENTITY(1,1) NOT NULL,
	[BikeId] [int] NOT NULL,
	[CustId] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Cost] [int] NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[StartTime] [datetime] NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[RentalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bike] ON 

INSERT [dbo].[Bike] ([BikeId], [BikeName], [Brand], [Type], [Status], [RentalAmount], [ImageUrl], [BikeCount], [BikeDetails]) VALUES (4, N'Speed 400', N'Triumph', N'Cruise', N'1', 1300, N'https://live.staticflickr.com/65535/53018276534_90f77821c6_b.jpg', 1, N'The Triumph Speed 400 is powered by a 398.15cc, liquid-cooled, single-cylinder engine, delivering a maximum power of 39.5 bhp at 8,000 rpm and a peak torque of 37.5 Nm at 6,500 rpm. It is mated to a 6-speed gearbox, offering refined and powerful performance for both urban and spirited riding conditions.')
SET IDENTITY_INSERT [dbo].[Bike] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustId], [CustName], [CustPhNo]) VALUES (1, N'Modi', N'12345')
INSERT [dbo].[Customer] ([CustId], [CustName], [CustPhNo]) VALUES (10, N'Chiru', N'23451')
INSERT [dbo].[Customer] ([CustId], [CustName], [CustPhNo]) VALUES (11, N'Laks', N'1938')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Rent] ON 

INSERT [dbo].[Rent] ([RentalId], [BikeId], [CustId], [Duration], [Cost], [Status], [StartTime]) VALUES (33, 9, 12, 1, 1300, N'Returned', CAST(N'2024-09-17T19:28:20.523' AS DateTime))
INSERT [dbo].[Rent] ([RentalId], [BikeId], [CustId], [Duration], [Cost], [Status], [StartTime]) VALUES (34, 2, 12, 1, 750, N'Returned', CAST(N'2024-09-17T20:52:50.133' AS DateTime))
INSERT [dbo].[Rent] ([RentalId], [BikeId], [CustId], [Duration], [Cost], [Status], [StartTime]) VALUES (35, 2, 12, 1, 750, N'Returned', CAST(N'2024-09-17T20:53:56.770' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Rent] OFF
GO
ALTER TABLE [dbo].[Bike] ADD  DEFAULT ((0)) FOR [BikeCount]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Rent] FOREIGN KEY([RentalId])
REFERENCES [dbo].[Rent] ([RentalId])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Rent]
GO
USE [master]
GO
